.type {
    position: relative;
  }					
  
  body {background-color: #F9F9F9;}

  .loader {
    display: block;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 47%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #searchBar{
    height: 42px;
    margin: 20px 20%;
  }
  #searchBar input{
    height: 42px;
    display: block;
    width: 80%;
  }
  #searchBar div{
    float: right;
    height: 100%;
    position: relative;
    right: 6%;
  }
  #searchBar div img{
    height: 60%;
    padding: 33% 33% 33% 33%;
    background-color: #e5e5e5;
    border-radius: 15%;
  }
  
  input[type=text] {
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;

  }
  
  select {
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
  }

  #typeList {
    padding-left: 0;
  }

  #typeList li{
    display: inline; 
    float: left; 
    width: 33%; 
  }

  .pokemonListItem img{
    width: 96px;
    cursor: pointer
  }

  .pokemonListItem h4{
    margin-top: 0;
    cursor: pointer;
  }
  
  .header{
    padding: 5px;
    text-align: center;
    background: #414141;
    color: white;
    font-size: 25px;
    font-family: Raleway;
  }

  #pokemonSplashArt{
    margin-top: 15px;
    width: 100%;
    background-color: #e5e5e5;
  }
  
  a:link {
    color: #F9F9F9;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #F9F9F9;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #F9F9F9;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: #F9F9F9;
    background-color: transparent;
    text-decoration: none;
  }
  
  .name {
    text-transform: capitalize;
  }

  .columns{
	column-count:2;
  }
  
   .body{
	text-align: center;
  }
  
  .left{
	text-align:left;
  }

  .stats {
    padding: 5px;
    background-color: #e5e5e5;
    border-radius: 15px;
  }
  
  .container {
    padding: 5px;
    background-color: #e5e5e5;
    border-radius: 15px;
  }

  .stats div{
    margin: 10px;
    text-align: left;
  }

  .stats div div{
    background-color: black;
    margin: 5px 0px;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 90%;
  }

  #types {
    margin: 20px 0px;
  }

  #types div{
    text-transform: capitalize;
    display: inline-block;
    height: 20px;
    width: 35%;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 5px;
  }

  
  #pokemonInfo {
    padding-left: 0;
    background-color: #e5e5e5;
    border-radius: 15px;
    text-align: center;
    column-count: 2;
    list-style: none;
    padding: 10px
  }

  #pokemonInfo li{
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .property {
    display: block;
    margin-bottom: 5px;
    font-size: 100%;
    font-weight: bold;
  }

  .value {
    display: block;
    margin-top: 5px;
    font-size: 125%;
  }
