.type {
  position: relative;
}					
  
body {
  background-color: #465881;
}

.loader {
  display: block;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 47%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#searchBar{
  height: 100px;
  margin: 40px 10%;
  width: 80%;
}
#searchBar input{
  height: 100%;
  background-color:#00909E;
  color:#000000;
  display: block;
  width: 80%;
  font-size: 200%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 20px;
}
::placeholder {
  color: #000000;
}
#searchBar div{
  float: right;
  height: 100%;
  position: relative;
  right: 6%;
}
#searchBar div img{
  height: 60%;
  padding: 33% 33% 33% 33%;
  background-color: #00909E;
  border-radius: 15%;
  border: 2px solid #000000;
}

select {
  width: 80%;
  height: 100px;
  color:#000000;
  background-color:#00909E;
  border-color:#00909E;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 200%;
  border: 2px solid;
  border-radius: 20px;
}

#typeList {
  margin-top: 10%;
  padding-left: 0;
}

#typeList li{
  display: inline; 
  float: left; 
  width: 33%; 
}

.pokemonListItem img{
  width: 80%;
  cursor: pointer
}

.pokemonListItem h4{
  margin-top: 0;
  cursor: pointer;
  font-size: 170%;
}

#seeMoreButton {
  height: 80px;
  width: 70%;
  font-size: 200%;
  margin-bottom: 10%;
  margin-top: 5%;
  background-color: #00909E;
  border: 2px solid;
  border-radius: 10px;
  color:#000000;
}

.header{
  padding: 0.3em;
  text-align: center;
  background: #1B2A49;
  color: white;
  font-size: 3em;
  font-family: Broadway;
}
.header h1{
  margin: 0.2em;
}


#pokemonSplashArt{
  margin-top: 15px;
  width: 100%;
  background-color: #C9D1D3;
}

a:link {
  color: #C9D1D3;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #C9D1D3;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #C9D1D3;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #C9D1D3;
  background-color: transparent;
  text-decoration: none;
}

.name {
  text-transform: capitalize;
}

.moves p{
  font-weight: bold;
  font-size: 3em
}

.columns{
  column-count: 3;
}
.columns p{
  font-weight: normal;
  font-size: 2.3em;
  margin-top: 0;
}

.body{
text-align: center;
font-family: lato;
color: #C9D1D3;
}

.left{
text-align:left;
}

#pokemonName {
  font-size: 5em;
}

.container {
  margin: 3em;
  padding: 1em;
  padding-left: 3em;
  background-color: #00909E;
  color:#000000;
  border-radius: 15px;
  text-align: left;
}

.stats div{
  margin: 1.3em;
  color:#000000;
  text-align: left;
  font-size: 2em;
  margin-left: 0;
}

.stats div div{
  background-color: #1B2A49;
  margin: 0.5em 0 0 0;
  border-radius: 1em;
  color: #C9D1D3;
  text-align: center;
  font-size: 1.3em;
}

#types {
  margin: 20px 0px;
}

#types div{
  text-transform: capitalize;
  color:#000000;
  display: inline-block;
  height: auto;
  width: 35%;
  padding: 5px;
  margin: 0px 2%;
  border-radius: 1em;
  font-size: 3em;
}


#pokemonInfo {
  text-align: center;
  color:#000000;
  column-count: 2;
  list-style: none;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
}

#pokemonInfo li{
  margin-bottom: 2.5em;
  text-transform: capitalize;
}

.property {
  display: block;
  margin-bottom: 0.4em;
  font-weight: bold;
  font-size: 3em;
}

.value {
  display: block;
  margin-top: 0.2em;
  font-size: 2.5em;
}



/*@media (min-width: 980px){
  *//*For Tablets*//*
  body {
    font-size: 0.7em;
  }

  #searchBar {
    height: 70px;
  }

  #searchBar div img{
    padding: 28%;
  }

  #typeSelect {
    height: 70px;
  }

  #typeList li {
    width: 25%;
  }

  #seeMoreButton {
    height: 70px;
  }
}*/

@media (min-width: 1200px) {
  /*For desktop*/
  .size {
    font-size: 0.6em;
  }

  #searchBar {
    width: 40%;
    margin: 5% 30%;
    height: auto;
  }

  #searchBar  div{
    width: 5%;
  }
  #searchBar  div img{
    height: 100%;
    width: 100%;
  }
  
  #typeSelect{
    width: 40%;
    height: auto;
  }

  #typeList {
    margin-top: 3%;
  }

  #typeList li {
    width: 20%;
  }
  
  #seeMoreButton {
    height: auto;
    width: auto;
    padding: 0.5em;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  
  	#pokemonSplashArt{
	  width: 30%;
	}
	
	.header{
		font-size: 2em;
	}

	.moves p{
		font-size: 1em;
	}
	
	#pokemonName {
		font-size: 2em;
	}
	
	#types div{
		font-size: 1.2em;
		width: 10%;
	}
	
	.stats div{
		font-size: 0.9em;
		text-align: left;
}

	#pokemonInfo {
		font-size: 0.35em;
		text-align:center;
	}
	
	.container{
		text-align:left;
		margin: 0em;
		margin-top: 3em;
	}
	
	span.info{
		display: table-cell;
		width:40%;
		padding: 0.5em;
	
	}
	
	span.center{
		display: inline-block;
		width:70%;
		text-align:center;
	}
	
  
}



