.type {
    position: relative;
  }					
  
  body {background-color: #F9F9F9;}

  .loader {
    display: block;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 47%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .searchbar{
    width: 60%;
    padding: 20px;			
  }

  .searchButton{
      width: 20%;
      padding: 10px 20px;
      margin-top: 50px;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
  }
  
  select {
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
  }

  ul{
    padding-left: 0;
  }

  li{
    display: inline; 
    float: left; 
    width: 33%; 
  }

  .pokemonListItem img{
    width: 96px;
    cursor: pointer
  }

  .pokemonListItem h4{
    margin-top: 0;
    cursor: pointer;
  }
  
  .header{
    padding: 5px;
    text-align: center;
    background: #414141;
    color: white;
    font-size: 25px;
    font-family: Raleway;
  }

  #pokemonSplashArt img{
    width: 100%;
  }
  
  a:link {
    color: #F9F9F9;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #F9F9F9;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #F9F9F9;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: #F9F9F9;
    background-color: transparent;
    text-decoration: none;
  }
  
  .name {
    text-transform: capitalize;
  }
